/* Desktop & Mobile *****************************************************************************/

.section-header .header-wrapper--border-bottom {
  border-bottom: none !important;
}

.image-with-text__media {
  border: none;
}

.piaolsen-section-top {
  border-top: 1px solid #bbb;
}  

/* Desktop **************************************************************************************/

@media screen and (min-width: 750px) {

}