/* Desktop & Mobile **/

:root {
  --piaolsen-separator__width: 1px;
  --piaolsen-separator__color: black;
  --piaolsen-separator__style: solid;

  --piaolsen-spacing__page_width: 1.5rem;

  --piaolsen-spacing__section--top: 40px;
  --piaolsen-spacing__section--bottom: 80px;

  --piaolsen-spacing__section__collection-teaser__title--bottom: 8px;
  --piaolsen-spacing__section__collection-teaser__product-grid__product_info--top: 10px;
  --piaolsen-spacing__section__collection-teaser__product-grid__product_info--vertical: 2px;

  --piaolsen-spacing__footer--top: 36px;
}

/* Mobile **/
@media screen and (max-width: 750px) {
  :root {
    --piaolsen-spacing__section__collection-teaser__body--top: 20px;
    --piaolsen-spacing__section__collection-teaser__body--bottom: 28px;

    --piaolsen-spacing__section__collection-teaser__product-grid--top: 16px;
    --piaolsen-spacing__section__collection-teaser__product-grid--left: 0;
    --piaolsen-spacing__section__collection-teaser__product-grid--horizontal: 16px;
    --piaolsen-spacing__section__collection-teaser__product-grid--vertical: 16px;
  }
}

/* Desktop **/
@media screen and (min-width: 750px) {
  :root {
    --piaolsen-spacing__section__collection-teaser__body--top: 20px;
    --piaolsen-spacing__section__collection-teaser__body--bottom: 36px;

    --piaolsen-spacing__section__collection-teaser__product-grid--top: 0;
    --piaolsen-spacing__section__collection-teaser__product-grid--left: 20px;
    --piaolsen-spacing__section__collection-teaser__product-grid--horizontal: 16px;
    --piaolsen-spacing__section__collection-teaser__product-grid--vertical: 16px;
  }
}

/** ---- */

/* Desktop & Mobile **/
.piaolsen-section {
  border-width: var(--piaolsen-separator__width);
  border-style: hidden hidden var(--piaolsen-separator__style) hidden;
  border-color: var(--piaolsen-separator__color);

  padding-top: var(--piaolsen-spacing__section--top);
  padding-bottom: var(--piaolsen-spacing__section--bottom);
}

.piaolsen-section--no-top-space {
  padding-top: 0 !important;
}

.piaolsen-section--no-bottom-border {
  border-style: hidden !important;
}

.image-with-text__media {
  border: none;
}

/* Mobile **/
@media screen and (max-width: 750px) {
}

/* Desktop **/
@media screen and (min-width: 750px) {
}
