RewriteEngine  on

RewriteCond %{HTTP_HOST} ^piaolsen.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.piaolsen.com$ 
RewriteRule ^$	www/php/work.php [QSA,L]

RewriteRule ^opgaver$	www/php/work.php [QSA,L]
RewriteRule ^kontakt$	www/php/contact.php [QSA,L]
RewriteRule ^kunder$	www/php/customers.php [QSA,L]
RewriteRule ^forhandlere$	www/php/dealers.php [QSA,L]
RewriteRule ^butik$ www/php/shop.php [QSA,L]

RewriteRule ^butik/(.*)$	www/php/shop.php [QSA,L]
RewriteRule ^opgaver/(.*)$	www/php/work.php [QSA,L]

# Old pages:
RewriteRule ^www/gallery.html$	www/php/shop.php [QSA,L]
RewriteRule ^www/gallery_([a-z_]*).html$	www/php/shop.php [QSA,L]

# Backend:
RewriteRule ^order$ /www/php/order.php [QSA,L]
RewriteCond %{HTTP:Authorization} ^Basic.*
RewriteRule ^auth$  /www/php/auth.php?Authorization=%{HTTP:Authorization} [QSA,L]

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Files .htaccess>
order allow,deny
deny from all
</Files>

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>

<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
